@use '@scss/base/variables' as *;
@use '@scss/helpers/mixins' as *;

#bg-bubbles {
  position: fixed;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  inset: 0;
  pointer-events: none;
}

.bg-bubble {
  position: absolute;

  @include themify($themes) {
    background: radial-gradient(
      circle at 50% 50%,
      themed(page-bubbles) 0%,
      rgba(themed(page-bubbles), 0.666) 30%,
      rgba(themed(page-bubbles), 0.333) 45%,
      rgba(themed(page-bubbles), 0) 70%
    );
  }
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  filter: blur(0.2vmin);
  will-change: transform;
}

@media (prefers-reduced-motion: reduce) {
  .bg-bubble { animation: none !important; }
}
