@use "@scss/base/variables" as *;
@use "@scss/helpers/mixins" as *;

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    padding: 12px 20px;
    border: none;
    background: transparent;
    text-align: center;
    border-radius: 100px;
    box-sizing: border-box;
    cursor: pointer;
    font-family: 'SN Pro', sans-serif;
    font-size: 1.6rem;
    font-weight: 900;
    gap: 0.6rem;
    outline: none;
    text-decoration: none;
    transition: all 0.3s ease;

    &--small {
        padding: 10px 16px;
        font-size: 1.4rem;
    }

    @include breakpoint('md') {
        padding: 10px 16px;
        font-size: 1.4rem;

        &--small {
            padding: 8px 14px;
            font-size: 1.2rem;
        }
    }

    &:not(.btn--icon, .btn--icon-circle) {
        svg {
            margin-block: -6px;
        }
    }

    &--primary {
        @include themify($themes) {
            background: themed(background-blue-regular);
            color: themed(fixed-white);
        }

        span {
            @include themify($themes) {
                color: themed(fixed-white);
            }
        }

        &:hover,
        &:focus {
            background: $blue-600;
        }

        &:active {
            background: $blue-700;
        }
    }

    &--white {
        @include themify($themes) {
            background: themed(fixed-white);
            color: themed(text-regular);
        }

        span {
            @include themify($themes) {
                color: themed(text-regular);
            }
        }
    }

    &--outline-primary {
        @include themify($themes) {
            @include bg-opacity(themed(elevated-background), $opacity-light);
            border: 1px solid themed(stroke-blue-regular);
            color: themed(text-regular);
        }

        span {
            @include themify($themes) {
                color: themed(text-regular);
            }
        }

        &:hover,
        &:focus {
             @include bg-opacity($background-blue-regular, $opacity-extra-light);
        }

        &:active {
            @include bg-opacity($background-blue-regular, $opacity-light);
        }
    }

    &--outline {
        @include bg-opacity($white, $opacity-light);
        border: 1px solid $stroke-gray-light;
        color: $text-regular;
    }

    &--tertiary {
        background: transparent;
        color: $text-regular;

        &:hover,
        &:focus {
            color: $link-hover;
            text-decoration: underline;
        }

        &:active {
            color: $link-click;
        }
    }

    &--icon {
        display: flex;
        width: fit-content;
        padding: 4px;
        aspect-ratio: 1;
        line-height: 0;

        svg path {
            stroke: currentcolor !important;
            transition: all 0.3s ease;
        }

        &:hover,
        &:focus {
            svg path {
                filter: brightness(0.85);
            }
        }
    }

    &--icon-circle {
        padding: 9px;
        border-radius: 50%;
        line-height: 0;
    }

    &--fill-width {
        width: 100%;
    }
}