.banner {
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-center;
    flex-direction: column;
    gap: 2.4rem;
  }

  &__title {
    text-align: center;
    max-width: 950px;
  }

  &__actions {
    display: flex;
    gap: 12px;
  }

  &--small {
    .h4 {
      text-align: center;
      max-width: 950px;
    }
  }
}
