@use '../base/variables' as *;
@use '../helpers/mixins' as *;

.cards {
  &__title { text-align: center; margin-bottom: 4.2rem; }

  &__list {
    display: flex;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    gap: 2rem;
    list-style: none;
    margin-bottom: 4.4rem;

    &--space-between {
      justify-content: center !important;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    border-radius: 24px;
    flex-direction: column;
    gap: 2rem;

    .cards__list--space-between & {
      margin-inline: auto;
    }

    &--bg {
      padding: 4.2rem 1.2rem;

      @include themify($themes) {
        border: 1px solid themed(stroke-blue-regular);
        background: rgb(themed(elevated-background), $opacity-light);
        box-shadow: 0 2px 20px -8px rgb(65 78 78 / 25%);
      }
    }

    &-title {
      margin: 0;
      text-align: center;
    }

    &-desc {
        p { margin: 0; }
        text-align: center;
    }
  }

  &__icon { flex: 0 0 112px;
    width: 112px; height: 112px;

    svg, img { display: block; width: 100% !important; height: auto; }
  }

  &__actions {
    display: flex;
    justify-content: center; flex-wrap: wrap; gap: 1rem; margin-top: 2rem;
  }
}
