@use '../base/variables' as *;
@use '../helpers/mixins' as *;

.chat-bubbles {
  &__title {
    text-align: center;

    @include breakpoint('xl') {
      margin-bottom: 4rem;
    }

    @include breakpoint('md') {
      margin-bottom: 5rem;
    }
  }

  &__list {
    @include breakpoint('md') {
      margin-top: 24px;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: clamp(1.2rem, 2vw, 2.4rem);
    margin-bottom: clamp(3rem, 5vw, 6rem);

    &:last-child {
      margin-bottom: 0;
    }

    @include breakpoint(md) {
      align-items: flex-start;
    }

    @include breakpoint(440px) {
      gap: 1rem;
    }
  }

  &__container {
      display: flex;
      flex-direction: column;
      margin-bottom: clamp(-2rem, -3vw, -4rem);
      max-width: min(700px, 60%);

      @include breakpoint(xl) {
        max-width: min(600px, 65%);
      }

      @include breakpoint(md) {
        max-width: min(500px, 70%);
        margin-bottom: -2rem;
      }

      @include breakpoint(440px) {
        max-width: 100%;
        margin-bottom: -1.5rem;
      }

      &--left {
          align-items: flex-end;

          svg {
            margin-right: clamp(1.5rem, 2.5vw, 3rem);
            transform: scaleX(-1);
          }
      }

      &--right {
          align-items: flex-start;

            svg {
                margin-left: clamp(1.5rem, 2.5vw, 3rem);
            }
      }

      &--white {
        svg {
            @include themify($themes) {
                fill: rgb(themed(elevated-background), $opacity-medium);
            }
        }
      }

      &--blue {
          svg {
              @include themify($themes) {
                  fill: themed(background-blue-regular);
              }
          }
      }

      &--dark-blue {
          svg {
              @include themify($themes) {
                  fill: themed(background-blue-dark);
              }
          }
      }
  }

  &__bubble {
    padding: clamp(1.5rem, 2.5vw, 2.6rem) clamp(2rem, 4vw, 4.8rem);
    border-radius: clamp(20px, 2.5vw, 28px);

    ul, ol {
      margin-left: 0;
      padding-left: 2rem;

      @include breakpoint(440px) {
        padding-left: 1.5rem;
      }

      li {
        &::marker {
          font-size: 1.2em;
        }
      }
    }

    &--white {
        @include themify($themes) {
            background: rgb(themed(elevated-background), $opacity-medium);

            * {
                color: themed(text-regular);
            }
        }
    }

    &--blue {
        @include themify($themes) {
            background: themed(background-blue-regular);
            
            * {
                color: themed(text-inverse);
            }
        }
    }

    &--dark-blue {
        @include themify($themes) {
            background: themed(background-blue-dark);

            * {
                color: themed(fixed-white);
            }
        }
    }
  }

  &__icon {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    @include breakpoint(440px) {
      display: none;
    }

    > svg {
        width: clamp(120px, 20vw, 270px) !important;
        height: clamp(120px, 20vw, 270px) !important;
        max-width: 270px !important;
        max-height: 270px !important;

        @include breakpoint(440px) {
          width: clamp(80px, 18vw, 120px) !important;
          height: clamp(80px, 18vw, 120px) !important;
        }

        path {
            @include themify($themes) {
                stroke: themed(stroke-blue-dark) !important;
            }
        }
        
        @include themify($themes) {
            stroke: themed(stroke-blue-dark) !important;
        }
    }
  }
}
