@use '../base/variables' as *;
@use '../helpers/mixins' as *;

.timeline {
  &__heading {
    margin-bottom: 50px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 100px;
    margin-bottom: 180px;
  }

  &__row {
    position: relative;
    display: flex;

    &.timeline__item--left {
      justify-content: flex-start;
    }

    &.timeline__item--right {
      justify-content: flex-end;
    }

    &--first {
      .timeline__connector-wrapper {
        top: 0;
        height: 100%;
      }
    }

    &--last {
      .timeline__cta-connector {
        position: absolute;
        left: calc(50% + 197px);
        top: calc(100% - 170px);
        transform: translateX(-50%);
        width: 100%;
        max-width: 469px;
        height: auto;
        pointer-events: none;
        z-index: 0;

        &.timeline__item--flip {
          transform: translateX(50%) scaleX(-1);
          right: calc(50% + 197px);
          left: auto;
        }
      }
    }
  }

  &__connector-wrapper {
    position: absolute;
    left: 50%;
    top: -100px; // adjust to match your gap size
    transform: translateX(-50%);
    width: 100%;
    max-width: 865px;
    height: calc(100% + 100px);
    overflow: hidden;
    pointer-events: none;
    z-index: 0;

    &.timeline__item--flip {
      transform: translateX(-50%) scaleX(-1);
    }
  }

  &__connector {
    width: 100%;
    height: auto;
  }

  &__item {
    position: relative;
    z-index: 1;
  }

  &__cta {
    position: relative;
    margin: 0 auto;
    max-width: 404px;

    & .timeline-card {
      position: relative;
      z-index: 1;
      display: flex;
      align-items: center;
      flex-direction: column;

      &__btn {
        margin-top: 20px;
      }
    }
  }
}

.timeline-card {
  padding: 22px 26px;
  border-radius: 14px;
  max-width: 606px;
  backdrop-filter: blur(4px);

  @include themify($themes) {
    @include bg-opacity(themed(elevated-background), $opacity-medium);
    border: 1px solid themed(stroke-blue-light);
    box-shadow: 0 2px 4px rgb(0 0 0 / 5%);
  }

  &__header {
    
  }

  &__dates {
    margin-bottom: .4rem;
  }

  &__title {
    margin-bottom: 1rem;
  }

  &__chips {
    display: flex;
    gap: 6px;

    &:not(.timeline-card__block &) {
      margin-bottom: 1.6rem;
    }
  }

  &__block {
    display: inline-flex;
    align-items: center;
    gap: 10px;

    &:not(:last-of-type) {
      margin-bottom: 1.6rem;
    }
  }

  &__label {
    @include themify($themes) {
      color: themed(text-regular);
    }
  }

  &__content {}
}

.chip {
  padding: 4px 14px;
  border-radius: 100px;

  @include themify($themes) {
    color: themed(fixed-white);
    background-color: themed(background-blue-regular);
  }

  &--tool {
    @include themify($themes) {
        @include bg-opacity(themed(elevated-background), $opacity-medium);
        border: 1px solid themed(stroke-blue-regular);
        color: themed(text-regular);
    }
  }
}