@use '@scss/base/variables' as *;
@use '@scss/helpers/mixins' as *;

.header-hero {
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;

    @include breakpoint('md') {
      text-align: center;
      flex-direction: column;
      gap: 4rem;
    }
  }

  &__left {
    max-width: 610px;
  }

  &__title {
    margin-bottom: 2.4rem;
  }

  &__subtitle {
    margin-bottom: 3.2rem;
  }

  &__actions {
    display: flex;
    flex-wrap: wrap;
    gap: 1.2rem;

    @include breakpoint('md') {
      justify-content: center;
    }
  }

  &__image {
    display: block;
    width: 100%;
    height: auto;
    max-width: 380px !important;
  }
}