@use '../base/variables' as *;
@use '../helpers/mixins' as *;

.numbers {
  &__title { }

  &__list {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    gap: 40px;
    list-style: none;
  }

  &__item {
    display: flex;
    align-items: center;
    width: 356px;
    padding: 20px 28px;
    text-align: center;
    border-radius: 24px;
    box-sizing: border-box;
    flex-direction: row;
    gap: 28px;
    margin-inline: auto;

    @include themify($themes) {
      @include bg-opacity(themed(elevated-background), $opacity-light);
      border: 1px solid themed(stroke-blue-light);
      box-shadow: 0 2px 4px rgb(0 0 0 / 5%);
    }

    @include breakpoint('xs') {
      width: 100%;
      padding: 12px 16px;
      gap: 16px;
    }
  }

  &__media, &__media svg {
    width: 84px;
    height: 84px;
  }

  &__media svg path {
    @include themify($themes) {
      stroke: themed(background-blue-dark);
    }
  }

  &__content { 
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 4px;
  }

  &__number {
    font-size: 4.8rem;
    font-weight: 900;
    line-height: 1;
  }

  &__label {
    text-align: start;
  }
}
