@use '@scss/base/variables' as *;
@use '@scss/helpers/mixins' as *;

html {
    @include themify-self($themes) {
        background: themed(page-background);
    }
}

html.transitions-enabled * {
    transition: all 0.3s ease;
}

body {
    margin: 12px;
    background: transparent;
}

.visually-hidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    padding: 0 !important;
    border: 0 !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
}