@use 'sass:map';
@use 'sass:color';

// Color Palette
$blue-950: #021414;
$blue-900: #032828;
$blue-800: #053C3D;
$blue-700: #086465;
$blue-600: #0A7779;
$blue-500: #10C7CA;
$blue-400: #87E3E5;
$blue-300: #9FE9EA;
$blue-200: #B7EEEF;
$blue-100: #CFF4F4;
$blue-50: #E7F9FA;
$blue-5: #F3FCFC;
$gray-500: #414E4E;
$gray-400: #A0A6A6;
$gray-300: #B3B8B8;
$gray-200: #C6CACA;
$gray-100: #D9DCDC;
$gray-50: #ECEDED;
$gray-5: #F5F6F6;
$white: #fff;


// Tokens
$text-regular: $gray-500;
$text-muted: $gray-400;
$text-inverse: $white;
$text-blue: $blue-600;
$link-color: $blue-600;
$link-hover: $blue-700;
$link-click: $blue-800;
$background-blue-regular: $blue-500;
$stroke-blue-light: $blue-300;
$stroke-blue-regular: $blue-500;
$stroke-blue-dark: $blue-700;
$stroke-gray-light: $gray-300;
$stroke-gray-regular: $gray-500;

// Tokens
$themes: (
  light: (
    fixed-white: $white,

    elevated-background: $white,

    page-background: $blue-100,
    page-bubbles: $blue-50,

    text-regular: $gray-500,
    text-muted: $gray-400,
    text-inverse: $white,
    text-blue: $blue-600,
    text-blue-medium: $blue-500,

    link-color: $blue-600,
    link-hover: $blue-700,
    link-click: $blue-800,

    background-blue-2x-light: $blue-50,
    background-blue-extra-light: $blue-200,
    background-blue-light: $blue-400,
    background-blue-regular: $blue-500,
    background-blue-dark: $blue-600,
    background-blue-extra-dark: $blue-700,

    background-gray-regular: $gray-500,

    stroke-blue-light: $blue-300,
    stroke-blue-regular: $blue-500,
    stroke-blue-dark: $blue-700,
    stroke-gray-light: $gray-300,
    stroke-gray-regular: $gray-500,
  ),

  dark: (
    fixed-white: $white,

    elevated-background: $blue-800,

    page-background: $blue-950,
    page-bubbles: color.mix($blue-900, $blue-950, 30%),

    text-regular: $gray-100,
    text-muted: $gray-300,
    text-inverse: $white,
    text-blue: $blue-300,
    text-blue-medium: $blue-400,

    link-color: $blue-400,
    link-hover: $blue-300,
    link-click: $blue-200,

    background-blue-2x-light: $blue-900,
    background-blue-extra-light: $blue-800,
    background-blue-light: $blue-700,
    background-blue-regular: $blue-600,
    background-blue-dark: $blue-500,
    background-blue-extra-dark: $blue-400,

    background-gray-regular: $gray-400,

    stroke-blue-light: $blue-600,
    stroke-blue-regular: $blue-500,
    stroke-blue-dark: $blue-400,
    stroke-gray-light: $gray-200,
    stroke-gray-regular: $gray-400,
  )
);
$opacity-strong: 0.9;
$opacity-medium: 0.6;
$opacity-light: 0.3;
$opacity-extra-light: 0.1;