@use '../base/variables' as *;
@use '../helpers/mixins' as *;

.container-404 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    text-align: center;
    flex-direction: column;
    min-height: 60vh;

    &__icon {
        width: 8rem;
        height: 8rem;
        margin-bottom: 2rem;

        @include themify($themes) {
            color: themed(stroke-blue-dark);
        }
    }

    h1 {
        margin-bottom: .8rem;
    }

    .subtitle {
        margin-bottom: 2.4rem;
    }
}