@use '@scss/base/variables' as *;
@use '@scss/helpers/mixins' as *;

.site-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.8rem 4.4rem 2rem;
  backdrop-filter: blur(16px);
  border-radius: 4rem;
  box-shadow: 0 2px 20px -8px rgb(65 78 78 / 25%);
  flex-direction: column;
  max-width: 1416px;
  margin: 0 auto;

  @include themify($themes) {
    @include bg-opacity(themed(elevated-background), $opacity-light);
  }

  .site-branding {
    align-items: center;
    margin-bottom: 2.2rem;

    > .site-title {
        text-align: center;
        font-size: 2.8rem;
    }

    > .site-description {
        text-align: center;
        font-size: 1.4rem;
    }
  }
}

.social-menu {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2.8rem;
}

.social-icon svg {
    width: 2.4rem;
    height: 2.4rem;

    @include themify($themes) {
        color: themed(text-blue);
    }
}

.footer-menu {
    display: flex;
    margin: 0;
    padding: 0;
    flex-flow: row wrap;
    gap: 1.2rem;
    list-style: none;
    margin-bottom: 4.5rem;
    justify-content: center;
}

.site-credits {
    color: $text-blue;
}