@use "@scss/base/variables" as *;
@use "@scss/helpers/mixins" as *;

.mobile-menu-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: none;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(32px);
}

.mobile-menu-container {
    position: fixed;
    top: 10px;
    right: 10px;
    bottom: 10px;
    z-index: 10000;
    display: none;
    align-items: center;
    width: 250px;
    padding: 2.4rem 2rem 2rem;
    border-radius: 32px;
    box-shadow: -2px 0 20px -8px rgb(65 78 78 / 25%);
    flex-direction: column;
    overflow-y: auto;

    @include themify($themes) {
        background: rgb(themed(elevated-background), $opacity-medium);
    }

    .site-branding {
        align-items: center;
        margin-bottom: 3rem;
    }
}

.mobile-menu-nav {
    display: flex;
    margin: 0 0 3rem;
    padding: 0;
    text-align: center;
    flex-direction: column;
    gap: 2rem;
    list-style: none
}

.mobile-menu-ctas {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    flex-direction: column;
    gap: 1rem;
    padding-inline: 10px;
}